@font-face { font-family: 'RIDIBatang'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; }

body {
    font-family: 'RIDIBatang';
    margin: 0;
}

.menu {
    font-family: 'RIDIBatang';
    display: inline-block;
    background-color: #ffd1d1;
    height: 50px;
    width: 100%;
}

.menu .logo {
    font-family: 'RIDIBatang';
    width: 60px;
    height: 50px;
    padding-left: 8px;
}

.menu.list {
    display: flex;
    margin: 0;
}

.menu.list.left {
    float: left;
    padding: 3px 0 0 8px;
}

.menu.list.right {
    float: right;
    width: 240px;
    margin-right: 10px;
}

.menu.list li {
    list-style: none;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}

.menu .link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
    display: block;
}

.main {
    font-family: 'RIDIBatang';
    width: 500px;
    margin: 0 auto;
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.main form {
    overflow: hidden;
}

.main form textarea {
    padding: 1px;
}

.main form input[type="text"], .main form textarea {
    display: block;
    margin: 6px 0 16px 0;
    width: 98%;
}

.main form input.buttons {
    float: right;
    margin: 0 5px;
}

.main form p {
    margin: 0;
}